@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'mplus-1p-regular', sans-serif;
}
.top-header {
  background-image: url(../img/top-header.jpg);
  background-size:cover;
  background-position: center;
  box-sizing: border-box;
  padding: 190px 0;
}
.header-container h1 {
  color: #fff;
  opacity: 0.8;
  font-size: 60px;
  text-align: center;
}
.header-container div {
  color: #fff;
  opacity: 0.8;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}
.container-separator-white {
  height: 1px;
  width: 50px;
  margin: 60px auto;
  background-color: #fff;
  opacity: 0.8;
}
.container-separator-black {
  height: 1px;
  text-align: center;
  width: 30px;
  margin: 20px auto;
  background-color: black;
  opacity: 0.8;
}
ul.menu {
  display: table;
  margin: 0 auto;
  margin-top: 46px;
}
ul.menu li {
  display: table-cell;
  padding: 0 8px;
}
ul.menu li a {
  font-size: 30px;
  padding: 16px 32px;  
}
ul.menu li:hover {
  -moz-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
ul.menu li.menu-home a {
  color: #f2a7b7;
}
ul.menu li.menu-profile a {
  color: #e9e15d;
}
ul.menu li.menu-works a {
  color: #81a0d3;
}
ul.menu li.menu-contact a {
  color: #f7c6bd;
}
.material-icons {
  font-size: 30px !important;
  margin-right: 12px;
}
.section {
  margin-top: 40px;
}
.category {
  width: 880px;
  margin: 0 auto;
}
.category .category-title {
  text-align: center;
  font-size: 40px;
}
.category-title > .material-icons {
  font-size: 40px !important;
}
.profile-item {
  width: 72%;
  padding: 0 8px;
  line-height: 180px;
}
.float-left {
  float: left;
  box-sizing: border-box;
}
.description {
  margin-bottom: 35px;
}
.description .introduce {
  font-size: 40px;
}
ul.social-icons {
  list-style: none;
  display: table;
  margin: 0 auto;
}
ul.social-icons li {
  display: table-cell;
  padding: 0 16px;
}